/* banner */
.page_banner{
    width: 100%;
    height: 400px;
}
.page_banner img{
    height: 400px;
    width: 100%;
}

/* 内容 */
.content{
    width: 60%;
    /* height: 600px; */
    margin:auto;
    overflow: hidden;
    position: relative;
    top:-20px;
    border-radius: 3px;
}
.content_left{
    width:20%;
    height: 600px;
    float: left;
}
.content_right{
    width: 80%;
    /* height: 600px; */
    float: left;
    position: relative;
    background-color: #fff;
}
.content_left ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 16px;
}
.content_left ul li:nth-child(n){
    background-color: #fff;
    color:#6d6c6c;
}
.content_left ul li:nth-child(2n){
    background-color: #e9e9e9;
    color:#838383;
}
.tit img{
    width: 40px;
    height: 60px;
}
.tit a{
    font-size: 16px;
    font-family: "微软雅黑";
    color:#000;
}

.red{
    color:#c9565d !important;
}
.tit_con{
    position: absolute;
    top:20px;
    left:40px;
}
.outline div{
    padding:0 25px;
    text-indent: 2em;
}
.background{
   background-color: #c9565d !important;
   color:#fff !important;
}
.none{
    display: none;
}